/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
@keyframes fadeMe {
    100% {
        opacity: 0;
        z-index: 0;
    }
  }

.sidebarButtons {
   width: 20vw;
}

/* .allowScroll {
overflow: visible;
} */