/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
@keyframes fadeMe {
    100% {
        opacity: 0;
        z-index: 0;
    }
  }

.sidebarButtons {
   width: 10vw;
   min-width: 100px;
}

.iconBox {
  width: 4vw;
  min-width: 30px;
}

.table-wrapper {
    max-height: 60vh;
    overflow: auto;
    display:inline-block;
  }

/* .allowScroll {
overflow: visible;
} */